{{!-- 基本信息 --}}
<div class="title-info">
  <h3 class="t-title">基本信息</h3>
  <a href="#" class="no-decoration t-title line-comment">房源评论</a>
</div>
<div class="row basic-list">
  <div class="offset-lg-4 list_wrap">
    <div class="list">
      <span class="hd">类别：</span>
      <span class="desc">{{_propertyusage}}</span>
    </div>
    <div class="list">
      <span class="hd">面积：</span>
      <span class="desc">{{_square}}㎡</span>
    </div>
    <div class="list">
      <span class="hd">产权年限：</span>
      <span class="desc">{{_propertyyear}}</span>
    </div>
    <div class="list">
      <span class="hd">产权性质：</span>
      <span class="desc">{{_propertynature}}</span>
    </div>
    <div class="list">
      <span class="hd">建筑年代：</span>
      <span class="desc">{{_completedyear}}</span>
    </div>
    <div class="list">
      <span class="hd">所在楼层：</span>
      <span class="desc">{{_floor}}</span>
    </div>
    <div class="list">
      <span class="hd">建筑年代：</span>
      <span class="desc">{{_parkingspace}}</span>
    </div>
    <div class="list">
      <span class="hd">装修：</span>
      <span class="desc">{{_decoration}}</span>
    </div>
  </div>
</div>
<!-- 项目简介 -->
<div class="row intro">
  <div class="col-lg-4 i-title">
    核心卖点：
  </div>
  <div class="col-lg-8 i-content">
    <p class="text">{{_sellingpoint}}</p>
  </div>
</div>
<!-- 周边交通 -->
<div class="row intro">
  <div class="col-lg-4 i-title">
    周边交通：
  </div>
  <div class="col-lg-8 i-content">
    <p class="text">{{_traffic}}</p>
  </div>
</div>
<!-- 位置及周边 -->
<div class="row intro">
  <div class="col-lg-4 i-title">
    位置及周边：
  </div>
  <div class="col-lg-8 i-content">
    <div class="map" id="mapContainer" style="width: 100%; height: 400px;"></div>
    <p class="text">{{_address}}</p>
  </div>
</div>